  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Easy. Private. Personalized Social Messaging Platform</h1>
      <p>APChat application is social messaging platform where you invite and get connected to people across the globe and start interacting for free. </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-9" >
        <h2>ABSOLUTELY PRIVATE</h2>
        <p> unconditionally serious about its Users' privacy.No need to share your phone number.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-9">
        <h2>SMART CUSTOMIZATION</h2>
        <p>You have very smart, flexible and detailed options for customization for Notifications and Sound.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-9">
        <h2>CONTROLLED GROUP MANAGEMENT</h2>
        <p>Decide whether to be part of any Group or not. Block messages from groups on demand.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

    
  </div> <!-- /container -->
  